### test 

this documents contains the scripts used to generate the pdfs from the csv dataset of movie lens

In [1]:
#### all the impororts needed ####
import pandas as pd
import os
from fpdf import FPDF
from math import ceil
from datetime import datetime
import random
import re

In [2]:
%pip install fpdf

Requirement already satisfied: fpdf in c:\users\farah\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (1.7.2)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.0 -> 25.1.1
[notice] To update, run: C:\Users\farah\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

"Preping" the data (just merging the csvs into one)

In [3]:
path = "data/movielens/"
users = pd.read_csv(path+"users.csv", sep=";")
ratings = pd.read_csv(path+"ratings.csv", sep=";")
movies = pd.read_csv(path+"movies.csv", sep=";", encoding="latin")

'''
The data is from the MovieLens dataset, which contains user ratings for movies.'''
for df in [users, ratings, movies]:
    print(df.head())
    print("--------------------------------")

data = pd.merge(pd.merge(ratings, users), movies)
data.drop('Unnamed: 3', axis=1, inplace=True) #because it is empty

data.head()

   userId gender  age  occupation zip-code
0       1      F    1          10    48067
1       2      M   56          16    70072
2       3      M   25          15    55117
3       4      M   45           7     2460
4       5      M   25          20    55455
--------------------------------
   userId  movieId  rating  timestamp
0       1     1193       5  978300760
1       1      661       3  978302109
2       1      914       3  978301968
3       1     3408       4  978300275
4       1     2355       5  978824291
--------------------------------
   movieId                               title                        genres  \
0        1                    Toy Story (1995)   Animation|Children's|Comedy
1        2                      Jumanji (1995)  Adventure|Children's|Fantasy
2        3             Grumpier Old Men (1995)                Comedy|Romance
3        4            Waiting to Exhale (1995)                  Comedy|Drama
4        5  Father of the Bride Part II (1995)                        Comedy

  Unnamed: 3
0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
--------------------------------

,userId,movieId,rating,timestamp,gender,age,occupation,zip-code,title,genres
0,1,1193,5,978300760,F,1,10,48067,One Flew Over the Cuckoo's Nest (1975),Drama
1,1,661,3,978302109,F,1,10,48067,James and the Giant Peach (1996),Animation|Children's|Musical
2,1,914,3,978301968,F,1,10,48067,My Fair Lady (1964),Musical|Romance
3,1,3408,4,978300275,F,1,10,48067,Erin Brockovich (2000),Drama
4,1,2355,5,978824291,F,1,10,48067,"Bug's Life, A (1998)",Animation|Children's|Comedy

In [ ]:
data.to_csv("data/MLdata_merged.csv", index=False) # putting the merged data into a csv file for later use

In [5]:
output_dir = "pdf_exports_groupedby_movie"
os.makedirs(output_dir, exist_ok=True)  # create a directory to store the PDFs

In [6]:
def format_timestamp(ts):
    return datetime.utcfromtimestamp(int(ts)).strftime('%B %d, %Y')

In [7]:
age_dict = {
    1: "under 18", 18: "between 18 and 24", 25: "between 25 and 34",
    35: "between 35 and 44", 45: "between 45 and 49",
    50: "between 50 and 55", 56: "56 or older"
}

occupation_dict = {
    0: "unspecified occupation", 1: "academic or educator", 2: "artist", 3: "clerical or administrative worker",
    4: "college or graduate student", 5: "customer service representative", 6: "healthcare professional",
    7: "executive or managerial worker", 8: "farmer", 9: "homemaker", 10: "K-12 student",
    11: "lawyer", 12: "programmer", 13: "retired individual", 14: "sales or marketing professional",
    15: "scientist", 16: "self-employed worker", 17: "technician or engineer",
    18: "tradesperson or craftsman", 19: "unemployed individual", 20: "writer"
}

In [8]:
def sanitize_filename(title):
    return re.sub(r'[^\w\s-]', '', title).replace(' ', '_')

In [9]:

def make_sentence(row):
    date_str = format_timestamp(row["timestamp"])
    gender_str = "male" if row["gender"] == "M" else "female"
    age_range = age_dict.get(int(row["age"]), "unknown age range")
    occupation = occupation_dict.get(int(row["occupation"]), "unspecified occupation")
    #zip_code = row["zip-code"]
    rating = row["rating"]

    templates = [
        f"On {date_str}, a {gender_str} user aged {age_range}, working as a {occupation}, gave a rating of {rating}.",
        f"A {gender_str} viewer aged {age_range}, employed as a {occupation}, evaluated the film with a rating of {rating} on {date_str}.",
        f"The movie received a rating of {rating} on {date_str} from a {gender_str} user in the {age_range} age group, working as a {occupation}.",
        f"On {date_str}, a user identifying as a {gender_str} and categorized under {age_range} age range gave this title a rating of {rating}."
    ]
    return random.choice(templates)

## Generating the pdf files 
this takes around 7min i suggest you don't do it if you already retrived the ones i already processed

In [10]:
def generate_all_movie_pdfs(df, output_dir):
    os.makedirs(output_dir, exist_ok=True)

    movie_titles = df["title"].unique()
    for title in movie_titles:
        movie_df = df[df["title"] == title]

        if movie_df.empty:
            continue

        pdf = FPDF()
        pdf.add_page()
        pdf.set_auto_page_break(auto=True, margin=15)
        pdf.set_font("Arial", 'B', 16)
        pdf.multi_cell(0, 10, f"Research Report: Ratings for \"{title}\"", align="C")

        pdf.set_font("Arial", '', 12)
        genres = movie_df.iloc[0]["genres"].replace('|', ', ')
        pdf.ln(5)
        pdf.multi_cell(0, 10, f"Genres: {genres}")
        pdf.multi_cell(0, 10, "Below is a collection of individual user ratings drawn from the MovieLens 2000 dataset:\n")

        for _, row in movie_df.iterrows():
            sentence = make_sentence(row)
            pdf.multi_cell(0, 10, f"- {sentence}\n")

        safe_title = sanitize_filename(title)
        pdf_path = os.path.join(output_dir, f"{safe_title}.pdf")
        pdf.output(pdf_path)

    print(f"PDFs generated for {len(movie_titles)} movies in '{output_dir}'.")

In [11]:
#it takes around 4 min to generate all the PDFs
generate_all_movie_pdfs(data, output_dir)

PDFs generated for 3688 movies in 'pdf_exports_groupedby_movie'.

## Grouping the data :
orgenizing it into pair of {file_path, csv}

In [12]:
grouped = data.groupby('title')
print("Number of movies:", len(grouped))
grouped.head()

Number of movies: 3688

,userId,movieId,rating,timestamp,gender,age,occupation,zip-code,title,genres
0,1,1193,5,978300760,F,1,10,48067,One Flew Over the Cuckoo's Nest (1975),Drama
1,1,661,3,978302109,F,1,10,48067,James and the Giant Peach (1996),Animation|Children's|Musical
2,1,914,3,978301968,F,1,10,48067,My Fair Lady (1964),Musical|Romance
3,1,3408,4,978300275,F,1,10,48067,Erin Brockovich (2000),Drama
4,1,2355,5,978824291,F,1,10,48067,"Bug's Life, A (1998)",Animation|Children's|Comedy
...,...,...,...,...,...,...,...,...,...,...
993739,6001,138,1,956807238,F,25,7,94117,"Neon Bible, The (1995)",Drama
996467,6016,3245,5,994453507,M,45,1,37209,I Am Cuba (Soy Cuba/Ya Kuba) (1964),Drama
996637,6016,3336,3,995663888,M,45,1,37209,It Happened Here (1961),Drama
997451,6024,3443,4,956749779,M,25,12,53705,Born American (1986),Action|Drama|Thriller
998383,6035,981,1,956712771,F,25,1,78734,Dangerous Ground (1997),Drama

In [13]:
# List all generated PDF files in the output directory
output_dir = "pdf_exports_groupedby_movie"
pdf_files = [os.path.join(output_dir, f) for f in os.listdir(output_dir) if f.endswith('.pdf')]

# Create a mapping from sanitized movie title to original movie title
sanitized_to_title = {sanitize_filename(title): title for title in data['title'].unique()}

# Match each PDF path with the corresponding movie title DataFrame
matched_pdf_title_dfs = []
for pdf_path in pdf_files:
    pdf_filename = os.path.splitext(os.path.basename(pdf_path))[0]
    movie_title = sanitized_to_title.get(pdf_filename)
    if movie_title:
        movie_df = data[data['title'] == movie_title]
        matched_pdf_title_dfs.append((pdf_path, movie_df))

print(f"Matched {len(matched_pdf_title_dfs)} PDFs with their corresponding movie DataFrames.")

Matched 3687 PDFs with their corresponding movie DataFrames.

In [14]:
for pdf_path, movie_df in matched_pdf_title_dfs[:15]:
    print(f"PDF Path: {pdf_path}")
    print(movie_df.head())
    print("-" * 40)

PDF Path: pdf_exports_groupedby_movie\1-900_1994.pdf
        userId  movieId  rating  timestamp gender  age  occupation zip-code  \
490061    3015      889       3  975263628      M   56           6    62707
626214    3790      889       2  966019187      F   25          17    94618

               title   genres
490061  1-900 (1994)  Romance
626214  1-900 (1994)  Romance
----------------------------------------
PDF Path: pdf_exports_groupedby_movie\1000000_Duck_1971.pdf
        userId  movieId  rating  timestamp gender  age  occupation zip-code  \
32396      216     2031       2  976867230      M   45          13    52761
73210      494     2031       5  976215651      F   35           0    17870
109519     714     2031       4  975782711      M   18           4    76013
134719     869     2031       1  999376619      M   18          20    92026
162426    1034     2031       3  975093319      F   35           1    82601

                         title             genres
32396   $1,000,000 Duck (1971)  Children's|Comedy
73210   $1,000,000 Duck (1971)  Children's|Comedy
109519  $1,000,000 Duck (1971)  Children's|Comedy
134719  $1,000,000 Duck (1971)  Children's|Comedy
162426  $1,000,000 Duck (1971)  Children's|Comedy
----------------------------------------
PDF Path: pdf_exports_groupedby_movie\101_Dalmatians_1961.pdf
       userId  movieId  rating  timestamp gender  age  occupation zip-code  \
2021       18     2085       4  978154907      F   18           3    95825
2332       19     2085       4  978556129      M    1          10    48073
8321       58     2085       3  977940490      M   25           2    30303
10444      75     2085       2  977851295      F    1          10     1748
11832      92     2085       3  986187307      F   18           4    44243

                       title                genres
2021   101 Dalmatians (1961)  Animation|Children's
2332   101 Dalmatians (1961)  Animation|Children's
8321   101 Dalmatians (1961)  Animation|Children's
10444  101 Dalmatians (1961)  Animation|Children's
11832  101 Dalmatians (1961)  Animation|Children's
----------------------------------------
PDF Path: pdf_exports_groupedby_movie\101_Dalmatians_1996.pdf
       userId  movieId  rating  timestamp gender  age  occupation zip-code  \
2044       18     1367       1  978152203      F   18           3    95825
4392       33     1367       3  978110716      M   45           3    55421
10454      75     1367       3  977851216      F    1          10     1748
14051     114     1367       3  977506755      F   25           2    83712
14997     119     1367       3  977513968      F    1          10    77515

                       title             genres
2044   101 Dalmatians (1996)  Children's|Comedy
4392   101 Dalmatians (1996)  Children's|Comedy
10454  101 Dalmatians (1996)  Children's|Comedy
14051  101 Dalmatians (1996)  Children's|Comedy
14997  101 Dalmatians (1996)  Children's|Comedy
----------------------------------------
PDF Path: pdf_exports_groupedby_movie\10_Things_I_Hate_About_You_1999.pdf
      userId  movieId  rating  timestamp gender  age  occupation zip-code  \
1471      14     2572       1  978200645      M   35           0    60126
1707      16     2572       4  978174414      F   35           0    20670
2591      22     2572       2  978154074      M   18          15    53706
4678      34     2572       4  978104449      F   18           0     2135
5434      38     2572       4  978044874      F   18           4     2215

                                  title          genres
1471  10 Things I Hate About You (1999)  Comedy|Romance
1707  10 Things I Hate About You (1999)  Comedy|Romance
2591  10 Things I Hate About You (1999)  Comedy|Romance
4678  10 Things I Hate About You (1999)  Comedy|Romance
5434  10 Things I Hate About You (1999)  Comedy|Romance
----------------------------------------
PDF Path: pdf_exports_groupedby_movie\12_Angry_Men_1957.pdf
       userId  movieId  rating  timestamp gender  age  occupation zip-code  \
1089       10     1203       3  979775159      F   35           1    95370
9434       62     1203       4  977970154      F   35           3    98105
11457      88     1203       5  977695689      F   45           1     2476
12880      99     1203       1  994353378      F    1          10    19390
13579     107     1203       4  977533949      M   45          18    63129

                     title genres
1089   12 Angry Men (1957)  Drama
9434   12 Angry Men (1957)  Drama
11457  12 Angry Men (1957)  Drama
12880  12 Angry Men (1957)  Drama
13579  12 Angry Men (1957)  Drama
----------------------------------------
PDF Path: pdf_exports_groupedby_movie\13th_Warrior_The_1999.pdf
      userId  movieId  rating  timestamp gender  age  occupation zip-code  \
969       10     2826       4  978230540      F   35           1    95370
1476      14     2826       2  978200645      M   35           0    60126
1566      15     2826       4  978196348      M   25           7    22903
2065      18     2826       4  978153540      F   18           3    95825
2667      22     2826       3  978136940      M   18          15    53706

                         title                  genres
969   13th Warrior, The (1999)  Action|Horror|Thriller
1476  13th Warrior, The (1999)  Action|Horror|Thriller
1566  13th Warrior, The (1999)  Action|Horror|Thriller
2065  13th Warrior, The (1999)  Action|Horror|Thriller
2667  13th Warrior, The (1999)  Action|Horror|Thriller
----------------------------------------
PDF Path: pdf_exports_groupedby_movie\187_1997.pdf
       userId  movieId  rating  timestamp gender  age  occupation zip-code  \
7547       53     1609       3  977988944      M   25           0    96931
26883     191     1609       3  977026681      M   18           4     4915
53510     352     1609       2  976333978      M   18           4    60115
65171     438     1609       3  980904523      M   18          11    53705
77191     524     1609       2  976172554      M   18           0    91320

            title genres
7547   187 (1997)  Drama
26883  187 (1997)  Drama
53510  187 (1997)  Drama
65171  187 (1997)  Drama
77191  187 (1997)  Drama
----------------------------------------
PDF Path: pdf_exports_groupedby_movie\20000_Leagues_Under_the_Sea_1954.pdf
      userId  movieId  rating  timestamp gender  age  occupation zip-code  \
974       10     1019       4  978227763      F   35           1    95370
1807      17     1019       5  978160993      M   50           1    95350
2962      23     1019       2  978461308      M   35           0    90049
4437      33     1019       4  978110366      M   45           3    55421
5799      42     1019       4  978040259      M   25           8    24502

                                    title                               genres
974   20,000 Leagues Under the Sea (1954)  Adventure|Children's|Fantasy|Sci-Fi
1807  20,000 Leagues Under the Sea (1954)  Adventure|Children's|Fantasy|Sci-Fi
2962  20,000 Leagues Under the Sea (1954)  Adventure|Children's|Fantasy|Sci-Fi
4437  20,000 Leagues Under the Sea (1954)  Adventure|Children's|Fantasy|Sci-Fi
5799  20,000 Leagues Under the Sea (1954)  Adventure|Children's|Fantasy|Sci-Fi
----------------------------------------
PDF Path: pdf_exports_groupedby_movie\2001.pdf
      userId  movieId  rating  timestamp gender  age  occupation zip-code  \
988       10      924       3  979168183      F   35           1    95370
1813      17      924       5  978160490      M   50           1    95350
2975      23      924       2  978463956      M   35           0    90049
4447      33      924       4  978108695      M   45           3    55421
5166      36      924       4  978211163      M   25           3    94123

     title                   genres
988   2001   A Space Odyssey (1968)
1813  2001   A Space Odyssey (1968)
2975  2001   A Space Odyssey (1968)
4447  2001   A Space Odyssey (1968)
5166  2001   A Space Odyssey (1968)
----------------------------------------
PDF Path: pdf_exports_groupedby_movie\200_Cigarettes_1999.pdf
       userId  movieId  rating   timestamp gender  age  occupation zip-code  \
23041     166     2504       3   977301276      M   18           4    92802
24861     175     2504       4   977112730      F   25           2    95123
26321     187     2504       4   977078624      F   45           1    94061
29105     199     2504       1   976987613      M   18           4    83706
33893     229     2504       3  1039505357      M   18          10     4576

                       title        genres
23041  200 Cigarettes (1999)  Comedy|Drama
24861  200 Cigarettes (1999)  Comedy|Drama
26321  200 Cigarettes (1999)  Comedy|Drama
29105  200 Cigarettes (1999)  Comedy|Drama
33893  200 Cigarettes (1999)  Comedy|Drama
----------------------------------------
PDF Path: pdf_exports_groupedby_movie\2010_1984.pdf
      userId  movieId  rating   timestamp gender  age  occupation zip-code  \
1796      17     2311       4   978161068      M   50           1    95350
2944      23     2311       4   978464598      M   35           0    90049
5779      42     2311       5   978039590      M   25           8    24502
6032      44     2311       1  1004411827      M   45          17    98052
6625      48     2311       3   978131012      M   25           4    92107

            title          genres
1796  2010 (1984)  Mystery|Sci-Fi
2944  2010 (1984)  Mystery|Sci-Fi
5779  2010 (1984)  Mystery|Sci-Fi
6032  2010 (1984)  Mystery|Sci-Fi
6625  2010 (1984)  Mystery|Sci-Fi
----------------------------------------
PDF Path: pdf_exports_groupedby_movie\20_Dates_1998.pdf
       userId  movieId  rating  timestamp gender  age  occupation zip-code  \
6180       45     2492       2  977990979      F   45          16    94110
17794     137     2492       3  977373015      F   45           6    78758
24350     173     2492       3  985285972      M   25           0    45237
31038     208     2492       3  976915895      M   35          17    55432
40398     272     2492       3  976693998      M   18           0    80302

                 title  genres
6180   20 Dates (1998)  Comedy
17794  20 Dates (1998)  Comedy
24350  20 Dates (1998)  Comedy
31038  20 Dates (1998)  Comedy
40398  20 Dates (1998)  Comedy
----------------------------------------
PDF Path: pdf_exports_groupedby_movie\24-hour_Woman_1998.pdf
        userId  movieId  rating  timestamp gender  age  occupation zip-code  \
78345      528     2486       2  980039652      F   18          17    83843
100771     673     2486       1  975619861      M   25          20    10023
168314    1069     2486       2  974944270      M   25          20    98105
201428    1242     2486       2  974909684      F   35           0    10014
458880    2825     2486       1  972611641      F   25          20    94014

                       title genres
78345   24-hour Woman (1998)  Drama
100771  24-hour Woman (1998)  Drama
168314  24-hour Woman (1998)  Drama
201428  24-hour Woman (1998)  Drama
458880  24-hour Woman (1998)  Drama
----------------------------------------
PDF Path: pdf_exports_groupedby_movie\24_7.pdf
        userId  movieId  rating  timestamp gender  age  occupation zip-code  \
312725    1864     2444       5  974694483      M   35           7    94306
641408    3856     2444       5  965870544      F   35          20    93449
695915    4169     2444       3  983668796      M   50           0    66048
712780    4277     2444       3  981946306      M   35          16    98133
797181    4780     2444       4  963015075      M   25          12    94114

       title                     genres
312725  24 7   Twenty Four Seven (1997)
641408  24 7   Twenty Four Seven (1997)
695915  24 7   Twenty Four Seven (1997)
712780  24 7   Twenty Four Seven (1997)
797181  24 7   Twenty Four Seven (1997)
----------------------------------------